<% layout ('layouts/boilerplate') %>
    <h1 class="text-center mt-3 fw-bold"> End of the report of the employees</h1>
    <div class="row m-3">
        <% for(let i=0;i <reportList.length; i++){ %>
            <div class="card text-white bg-dark m-3" style="max-width: 18rem;">
                <div class="card-header">
                    <%= reportList[i].name %>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <%= reportList[i].task_id %>
                    </h5>
                    <p class="card-text">
                        <%= reportList[i].description %>
                    </p>
                </div>
                <div class="card-text">
                    <span class="me-5">
                        <%= reportList[i].date %>
                    </span>
                    <span class="ms-5">
                        <%= reportList[i].working_hours %> hours
                    </span>
                </div>
            </div>
            <% } %>
    </div>